<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" type="image/x-icon" href="/img/scope.jpg">
        <script src="/js/index.js"></script>
    </head>

    <body>
         <div class="main-content">
             {{>header}}
             <h1 class="error">{{errorMsg}}</h1>
        </div>
        {{>footer}}
    </body>
</html>