<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/img/scope.jpg">
    <script src="/js/index.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{!-- <img class="portrait" src="/img/profile.jpg"> --}}
        <section>
            <h2>About Us</h2>
            <p>TestingScope is a website dedicated to providing resources and information on software testing. Our goal
                is to help software testers improve their skills and knowledge, and to promote best practices in the
                industry.</p>
            <p>Our team of experts has years of experience in software testing, and we are passionate about sharing our
                knowledge with others. We believe that by working together, we can raise the bar for software quality
                and help build better products.</p>
        </section>
        <section>
            <h2>Contact Us</h2>
            <form>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
                <label for="message">Message</label>
                <textarea id="message" name="message" required></textarea>
                <button type="submit">Send Message</button>
            </form>
        </section>
    </div>
    {{>footer}}
</body>

</html>