<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    {{>head}}
</head>

<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        {{>navigation}}
        <!-- Projects Section-->
        <section class="py-5">
            <div class="container px-5 mb-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">{{title}}</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-md-12 col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Project Card 1-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-4">
                                        <img class="img-fluid rounded-4 mb-3 mx-auto d-block"
                                            src="/img/pw-course-img.jpg" width="300px" height="400px"
                                            alt="Playwright Web Automation in AR" />
                                        <a href="https://www.udemy.com/course/mastering-web-automation-using-playwright-and-javascript/"
                                            style="text-decoration: none; color:#212529;">
                                            <h2 class="fw-bolder">Mastering Web Automation using Playwright & JavaScript
                                                (AR)</h2>
                                        </a>
                                        <p>Learn how to use Playwright to automate web browsers, create E2E test cases,
                                            API tests, and to run the tests into CI/CD</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Project Card 2-->
                        <div class="card overflow-hidden shadow rounded-4 border-0">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Testing Web APIs <span class="text-gradient">[COMING
                                                SOON]</span></h2>
                                        <p></p>
                                    </div>
                                    <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d"
                                        alt="..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to action section-->
        <section class="py-5 bg-gradient-primary-to-secondary text-white">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                    <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="/contact">Contact me</a>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    {{>footer}}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>