<footer class="bg-white py-4 mt-auto">
  <div class="container px-5">
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
      <div class="col-auto">
        <div class="small m-0">Copyright &copy; testingscope.com 2023</div>
      </div>
      <div class="col-auto">
         <a class="small" href="https://www.linkedin.com/in/moh-arafa/" target="_blank">LinkedIn</a>
           <span class="mx-2">&middot;</span>
         <a class="small" href="mailto:mohamed.arafa.swt@gmail.com" target="_blank">Email</a>
      </div>
      <div class="col-auto">
        <a class="small" href="#!">Privacy</a>
        <span class="mx-1">&middot;</span>
        <a class="small" href="#!">Terms</a>
        <span class="mx-1">&middot;</span>
        <a class="small" href="/contact">Contact</a>
      </div>
    </div>
  </div>
</footer>