<footer>
  <p>
    Created by: {{name}}<br>
    <a href="mailto:mohamed.arafa.swt@gmail.com">mohamed.arafa.swt@gmail.com</a><br>
    <a href="https://www.linkedin.com/in/moh-arafa/">LinkedIn</a>
  </p>
</footer>